<header class="u-px3 u-py1 u-bkg-offwhite u-c-text">
  <div class="o-grid u-cf o-flex o-flex--centerH">
    <div class="o-grid__col--3/12">
      <h1 class="h6 u-system u-caps u-w400 u-lt-4 u-m0">{{title}}</h1>
    </div>
    <div class="o-grid__col--9/12 u-right">
      <a href="#" class="o-btn u-w700">Order Now</a>
    </div>
  </div>
</header>
