<!DOCTYPE html>
<html class="u-anti">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bundle.css" />
    <title>Cercyon</title>
  </head>
  <body>
    {{> header info=feed }}
    <section class="bg-orange-gradient u-offwhite">
      <article class="o-container--sm u-center u-py4 u-px3 u-mxa">
        <h1 class="h2 u-w300">Headline #1</h1>
        <div class="u-py3">
          <a href="#" class="c-btn u-m2 u-w700">Button</a>
          <a href="#" class="c-btn c-btn--o u-offwhite u-m2 u-w700">Button</a>
        </div>
      </article>
    </section>
    <section class="o-flex o-flex--wrap o-flex--j--c u-p3 bg-orange-gradient">
      {{#each items}}
        {{> card-ui post=this feed=feed }}
      {{/each}}
    </section>
    <section class="u-py4 u-px3 u-bg--palegray">
      <div class="o-container--sm u-mxa">
        <h4 class="h4 u-mb3">Another Headline</h4>
        <p class="u-system">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </section>
    <section class="">
      <img src="images/313H.jpg" alt="" />
    </section>
    {{> footer title='Cercyon'}}
    <script src="bundle.js" charset="utf-8"></script>
    <script type="text/javascript">
      cercyon.module1('No One', 'Can', 'Know');
    </script>
  </body>
</html>
