<!DOCTYPE html>
<html class="u-anti">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/styles/bundle.css" />
    <title>Cercyon</title>
  </head>
  <body>
    {{> header }}
    <section class="bg-aqua-gradient u-c-offwhite">
      <article class="o-container--sm u-center u-py4 u-px3 u-mx-auto">
        <h1 class="h2 u-w300">Headline #1</h1>
        <div class="u-py3">
          <a href="#" class="o-btn u-m2 u-w700">Button</a>
          <a href="#" class="o-btn o-btn--outline u-c-offwhite u-ch-yellow u-m2 u-w700">Button</a>
        </div>
      </article>
    </section>
    <section class="u-py4 u-px3 u-bkg-ltgray">
      <div class="o-container--sm u-mx-auto">
        <h4 class="h5 u-mb3 u-w400 u-caps u-lt-5">Another Headline</h4>
        <p class="h6 u-system">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </section>
    <section class="">
      <img src="https://unsplash.it/1800/800?gravity=east" alt="" />
    </section>
    <script src="assets/scripts/bundle.js" charset="utf-8"></script>
    <script type="text/javascript">
      cercyon.module1('No One', 'Can', 'Know');
    </script>
  </body>
</html>
